@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  font-family: 'Merriweather', sans-serif;
}

body {
  background-color: #F2DFCE;
}

.box {
  border: none;
  box-shadow: none;
  padding: 0;
  background-color:#F2DFCE;
}

.small-title {
  padding-top: 10px;
}

p {
  color: black;
}
.title {
  color: black;
}

.primary-h1 {
  font-size: 5em;
}