@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  font-family: 'Merriweather', sans-serif;
}

body {
  background-color: white;
}

.box {
  border: none;
  box-shadow: none;
  padding: 0;
  background-color:inherit;
}

.small-title {
  padding-top: 10px;
}

p {
  color: black;
}
.title {
  color:black;
}

.primary-h1 {
  font-size: 5em;

}

.hero {
background-color: #F5EFEB;
}
.border-container {
  border-right: 1px solid black;
  border-left: 1px solid black;
  background-color: #F5EFEB;
}

.navbar-menu {
  padding-right: 15px;
}

a {
  color: black;
}

.red {
  color: red;
  padding: 2px;
  border: 1px solid white;
}

.green{
  color: lightgreen;
  padding: 2px;
  border: 1px solid white;
}

.box > p {
  text-align: justify;
  text-justify: inter-word;
}

.subtitle {
  margin-bottom: 1rem !important;
}


.section {
  padding-top: 1rem !important;
}